	<div class="jumbotron">
  <h1>Mi Proyecto 1.0</h1>
  <h2>Version Pro</h2>
  <p>Mi super versión de Proyecto 1</p>
  <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
</div>


	<h1 style="border:1px solid #cc">Página Proyecto 1</h1>

	<h2> título h2 </h2>
	<a href="http://www.google.com"> 
		Link a google </a>
		<hr>

		<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

		<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

		</p>
		<br>
		<img src="http://flickholdr.com/200/300/sea,sun">
		<img src="http://flickholdr.com/200/300/sea">

		<img src="http://bituchile.com/wp-content/uploads/2011/11/music.jpg">

		<a href="http://www.google.com" target="_blank"> 
		Link a google </a>
		<hr>

	</a>

	<%= image_tag "arte.png" %>